<div class="color-{{ section.settings.color_scheme }}">
    {% content_for 'blocks' %}
</div>

{% schema %}
{
    "name": "t:sections.custom_section.name",
    "tag": "section",
    "settings": [
        {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "t:sections.custom_section.settings.color_scheme.label",
            "default": "scheme-1"
        }
    ],
    "blocks": [
        {
            "type": "@theme"
        },
        {
            "type": "@app"
        }
    ],
    "presets": [
        {
            "name": "t:sections.custom_section.presets.default"
        },
        {
            "name": "t:sections.custom_section.presets.hero",
            "blocks": [
                {
                    "type": "group",
                    "name": "Group",
                    "settings": {
                        "color_scheme": "",
                        "direction": "row",
                        "direction_mobile": "row",
                        "alignment": "start",
                        "alignment_mobile": "start",
                        "justify": "start",
                        "justify_mobile": "start",
                        "border": "none",
                        "border_color": "#000000",
                        "border_gradient": "var(--gradient-primary)",
                        "border_width": 1,
                        "border_radius": 0,
                        "border_radius_mobile": 0,
                        "background": "none",
                        "background_color": "var(--color-background-primary)",
                        "custom_color": "#000000",
                        "background_gradient": "var(--gradient-primary)",
                        "custom_gradient": "linear-gradient(270deg, #8C8DC6 0%, #282460 100%)",
                        "enable_gap": false,
                        "gap": 0,
                        "gap_mobile": 0,
                        "enable_padding": false,
                        "padding_inline_differs": false,
                        "padding_inline": 0,
                        "padding_inline_mobile": 0,
                        "padding_left": 0,
                        "padding_left_mobile": 0,
                        "padding_right": 0,
                        "padding_right_mobile": 0,
                        "padding_block_differs": false,
                        "padding_block": 0,
                        "padding_block_mobile": 0,
                        "padding_top": 0,
                        "padding_top_mobile": 0,
                        "padding_bottom": 0,
                        "padding_bottom_mobile": 0,
                        "width": "full",
                        "custom_width": 100,
                        "width_mobile": "full",
                        "custom_width_mobile": 100
                    },
                    "blocks": [
                        {
                            "type": "group",
                            "name": "Group",
                            "settings": {
                                "color_scheme": "",
                                "direction": "row",
                                "direction_mobile": "column-reverse",
                                "alignment": "center",
                                "alignment_mobile": "start",
                                "justify": "start",
                                "justify_mobile": "start",
                                "border": "none",
                                "border_color": "#000000",
                                "border_gradient": "var(--gradient-primary)",
                                "border_width": 1,
                                "border_radius": 0,
                                "border_radius_mobile": 0,
                                "background": "none",
                                "background_color": "var(--color-background-primary)",
                                "custom_color": "#000000",
                                "background_gradient": "var(--gradient-primary)",
                                "custom_gradient": "linear-gradient(270deg, #8C8DC6 0%, #282460 100%)",
                                "enable_gap": false,
                                "gap": 0,
                                "gap_mobile": 0,
                                "enable_padding": false,
                                "padding_inline_differs": false,
                                "padding_inline": 0,
                                "padding_inline_mobile": 0,
                                "padding_left": 0,
                                "padding_left_mobile": 0,
                                "padding_right": 0,
                                "padding_right_mobile": 0,
                                "padding_block_differs": false,
                                "padding_block": 0,
                                "padding_block_mobile": 0,
                                "padding_top": 0,
                                "padding_top_mobile": 0,
                                "padding_bottom": 0,
                                "padding_bottom_mobile": 0,
                                "width": "100%",
                                "custom_width": 100,
                                "width_mobile": "100%",
                                "custom_width_mobile": 100
                            },
                            "blocks": [
                                {
                                    "type": "group",
                                    "name": "Group",
                                    "settings": {
                                        "color_scheme": "",
                                        "direction": "row",
                                        "direction_mobile": "row",
                                        "alignment": "start",
                                        "alignment_mobile": "start",
                                        "justify": "end",
                                        "justify_mobile": "end",
                                        "border": "none",
                                        "border_color": "#000000",
                                        "border_gradient": "var(--gradient-primary)",
                                        "border_width": 1,
                                        "border_radius": 0,
                                        "border_radius_mobile": 0,
                                        "background": "none",
                                        "background_color": "var(--color-background-primary)",
                                        "custom_color": "#000000",
                                        "background_gradient": "var(--gradient-primary)",
                                        "custom_gradient": "linear-gradient(270deg, #8C8DC6 0%, #282460 100%)",
                                        "enable_gap": false,
                                        "gap": 0,
                                        "gap_mobile": 0,
                                        "enable_padding": false,
                                        "padding_inline_differs": false,
                                        "padding_inline": 0,
                                        "padding_inline_mobile": 0,
                                        "padding_left": 0,
                                        "padding_left_mobile": 0,
                                        "padding_right": 0,
                                        "padding_right_mobile": 0,
                                        "padding_block_differs": false,
                                        "padding_block": 0,
                                        "padding_block_mobile": 0,
                                        "padding_top": 0,
                                        "padding_top_mobile": 0,
                                        "padding_bottom": 0,
                                        "padding_bottom_mobile": 0,
                                        "width": "custom",
                                        "custom_width": 38,
                                        "width_mobile": "100%",
                                        "custom_width_mobile": 100
                                    },
                                    "blocks": [
                                        {
                                            "type": "group",
                                            "name": "Group",
                                            "settings": {
                                                "color_scheme": "",
                                                "direction": "column",
                                                "direction_mobile": "column",
                                                "alignment": "start",
                                                "alignment_mobile": "start",
                                                "justify": "start",
                                                "justify_mobile": "start",
                                                "border": "none",
                                                "border_color": "#000000",
                                                "border_gradient": "var(--gradient-primary)",
                                                "border_width": 1,
                                                "border_radius": 0,
                                                "border_radius_mobile": 0,
                                                "background": "none",
                                                "background_color": "var(--color-background-primary)",
                                                "custom_color": "#000000",
                                                "background_gradient": "var(--gradient-primary)",
                                                "custom_gradient": "linear-gradient(270deg, #8C8DC6 0%, #282460 100%)",
                                                "enable_gap": true,
                                                "gap": 24,
                                                "gap_mobile": 16,
                                                "enable_padding": true,
                                                "padding_inline_differs": false,
                                                "padding_inline": 0,
                                                "padding_inline_mobile": 24,
                                                "padding_left": 0,
                                                "padding_left_mobile": 0,
                                                "padding_right": 0,
                                                "padding_right_mobile": 0,
                                                "padding_block_differs": true,
                                                "padding_block": 0,
                                                "padding_block_mobile": 0,
                                                "padding_top": 0,
                                                "padding_top_mobile": 0,
                                                "padding_bottom": 0,
                                                "padding_bottom_mobile": 40,
                                                "width": "custom",
                                                "custom_width": 87,
                                                "width_mobile": "100%",
                                                "custom_width_mobile": 100
                                            },
                                            "blocks": [
                                                {
                                                    "type": "group",
                                                    "name": "Group",
                                                    "settings": {
                                                        "color_scheme": "",
                                                        "direction": "column",
                                                        "direction_mobile": "column",
                                                        "alignment": "start",
                                                        "alignment_mobile": "center",
                                                        "justify": "start",
                                                        "justify_mobile": "center",
                                                        "border": "none",
                                                        "border_color": "#000000",
                                                        "border_gradient": "var(--gradient-primary)",
                                                        "border_width": 1,
                                                        "border_radius": 0,
                                                        "border_radius_mobile": 0,
                                                        "background": "none",
                                                        "background_color": "var(--color-background-primary)",
                                                        "custom_color": "#000000",
                                                        "background_gradient": "var(--gradient-primary)",
                                                        "custom_gradient": "linear-gradient(270deg, #8C8DC6 0%, #282460 100%)",
                                                        "enable_gap": true,
                                                        "gap": 10,
                                                        "gap_mobile": 16,
                                                        "enable_padding": false,
                                                        "padding_inline_differs": false,
                                                        "padding_inline": 0,
                                                        "padding_inline_mobile": 0,
                                                        "padding_left": 0,
                                                        "padding_left_mobile": 0,
                                                        "padding_right": 0,
                                                        "padding_right_mobile": 0,
                                                        "padding_block_differs": false,
                                                        "padding_block": 0,
                                                        "padding_block_mobile": 0,
                                                        "padding_top": 0,
                                                        "padding_top_mobile": 0,
                                                        "padding_bottom": 0,
                                                        "padding_bottom_mobile": 0,
                                                        "width": "100%",
                                                        "custom_width": 100,
                                                        "width_mobile": "100%",
                                                        "custom_width_mobile": 100
                                                    },
                                                    "blocks": [
                                                        {
                                                            "type": "group",
                                                            "name": "Group",
                                                            "settings": {
                                                                "color_scheme": "",
                                                                "direction": "column",
                                                                "direction_mobile": "column",
                                                                "alignment": "start",
                                                                "alignment_mobile": "center",
                                                                "justify": "start",
                                                                "justify_mobile": "center",
                                                                "border": "none",
                                                                "border_color": "#000000",
                                                                "border_gradient": "var(--gradient-primary)",
                                                                "border_width": 1,
                                                                "border_radius": 0,
                                                                "border_radius_mobile": 0,
                                                                "background": "none",
                                                                "background_color": "var(--color-background-primary)",
                                                                "custom_color": "#000000",
                                                                "background_gradient": "var(--gradient-primary)",
                                                                "custom_gradient": "linear-gradient(270deg, #8C8DC6 0%, #282460 100%)",
                                                                "enable_gap": true,
                                                                "gap": 10,
                                                                "gap_mobile": 10,
                                                                "enable_padding": false,
                                                                "padding_inline_differs": false,
                                                                "padding_inline": 0,
                                                                "padding_inline_mobile": 0,
                                                                "padding_left": 0,
                                                                "padding_left_mobile": 0,
                                                                "padding_right": 0,
                                                                "padding_right_mobile": 0,
                                                                "padding_block_differs": true,
                                                                "padding_block": 0,
                                                                "padding_block_mobile": 0,
                                                                "padding_top": 0,
                                                                "padding_top_mobile": 0,
                                                                "padding_bottom": 10,
                                                                "padding_bottom_mobile": 16,
                                                                "width": "100%",
                                                                "custom_width": 100,
                                                                "width_mobile": "100%",
                                                                "custom_width_mobile": 100
                                                            },
                                                            "blocks": [
                                                                {
                                                                    "type": "badge",
                                                                    "name": "Badge",
                                                                    "settings": {
                                                                        "text": "<strong>Clinician’s Choice</strong>",
                                                                        "main_icon": "shopify://shop_images/x32_4_1.svg",
                                                                        "left_icon": "shopify://shop_images/Union.svg",
                                                                        "right_icon": "shopify://shop_images/Union_1.svg"
                                                                    }
                                                                },
                                                                {
                                                                    "type": "group",
                                                                    "name": "Group",
                                                                    "settings": {
                                                                        "color_scheme": "",
                                                                        "direction": "row",
                                                                        "direction_mobile": "row",
                                                                        "alignment": "center",
                                                                        "alignment_mobile": "center",
                                                                        "justify": "start",
                                                                        "justify_mobile": "center",
                                                                        "border": "none",
                                                                        "border_color": "#000000",
                                                                        "border_gradient": "var(--gradient-primary)",
                                                                        "border_width": 1,
                                                                        "border_radius": 0,
                                                                        "border_radius_mobile": 0,
                                                                        "background": "none",
                                                                        "background_color": "var(--color-background-primary)",
                                                                        "custom_color": "#000000",
                                                                        "background_gradient": "var(--gradient-primary)",
                                                                        "custom_gradient": "linear-gradient(270deg, #8C8DC6 0%, #282460 100%)",
                                                                        "enable_gap": false,
                                                                        "gap": 0,
                                                                        "gap_mobile": 0,
                                                                        "enable_padding": false,
                                                                        "padding_inline_differs": false,
                                                                        "padding_inline": 0,
                                                                        "padding_inline_mobile": 0,
                                                                        "padding_left": 0,
                                                                        "padding_left_mobile": 0,
                                                                        "padding_right": 0,
                                                                        "padding_right_mobile": 0,
                                                                        "padding_block_differs": false,
                                                                        "padding_block": 0,
                                                                        "padding_block_mobile": 0,
                                                                        "padding_top": 0,
                                                                        "padding_top_mobile": 0,
                                                                        "padding_bottom": 0,
                                                                        "padding_bottom_mobile": 0,
                                                                        "width": "100%",
                                                                        "custom_width": 100,
                                                                        "width_mobile": "100%",
                                                                        "custom_width_mobile": 100
                                                                    },
                                                                    "blocks": [
                                                                        {
                                                                            "type": "icon",
                                                                            "name": "t:blocks.icon.name",
                                                                            "settings": {
                                                                                "icon_image": "shopify://shop_images/Frame_1321315071.png",
                                                                                "icon_width": 40,
                                                                                "icon_width_mobile": 40,
                                                                                "icon_link": "",
                                                                                "icon_alt": ""
                                                                            }
                                                                        },
                                                                        {
                                                                            "type": "text",
                                                                            "name": "Text",
                                                                            "settings": {
                                                                                "text": "612 clinicians share this on <a href=\"https://www.frontrowmd.com/\" title=\"https://www.frontrowmd.com/\">FrontrowMD</a>",
                                                                                "text_alignment": "left",
                                                                                "text_alignment_mobile": "center",
                                                                                "font_family": "var(--font-product-sans)",
                                                                                "tag": "p",
                                                                                "text_size": "var(--font-size-body)",
                                                                                "font_size_mobile": 16,
                                                                                "font_size_desktop": 16,
                                                                                "force_font_weight": false,
                                                                                "font_weight": 400,
                                                                                "text_style": "normal",
                                                                                "text_decoration": "none",
                                                                                "text_transform": "none",
                                                                                "line_height": 140,
                                                                                "letter_spacing": 0,
                                                                                "inherit_text_color": true,
                                                                                "text_color": "",
                                                                                "apply_gradient_to_bold_text": false,
                                                                                "gradient_color": "var(--gradient-primary)"
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "type": "text",
                                                            "name": "Text",
                                                            "settings": {
                                                                "text": "<strong>From Pain to Possible</strong>",
                                                                "text_alignment": "left",
                                                                "text_alignment_mobile": "center",
                                                                "font_family": "var(--font-helvetica-neue)",
                                                                "tag": "h1",
                                                                "text_size": "var(--font-size-heading-1)",
                                                                "font_size_mobile": 16,
                                                                "font_size_desktop": 16,
                                                                "force_font_weight": true,
                                                                "font_weight": 500,
                                                                "text_style": "normal",
                                                                "text_decoration": "none",
                                                                "text_transform": "none",
                                                                "line_height": 110,
                                                                "letter_spacing": 0,
                                                                "inherit_text_color": true,
                                                                "text_color": "",
                                                                "apply_gradient_to_bold_text": true,
                                                                "gradient_color": "var(--gradient-primary)"
                                                            }
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "group",
                                                    "name": "Group",
                                                    "settings": {
                                                        "color_scheme": "",
                                                        "direction": "column",
                                                        "direction_mobile": "column",
                                                        "alignment": "start",
                                                        "alignment_mobile": "start",
                                                        "justify": "start",
                                                        "justify_mobile": "start",
                                                        "border": "color",
                                                        "border_color": "#000000",
                                                        "border_gradient": "var(--gradient-primary)",
                                                        "border_width": 0,
                                                        "border_radius": 16,
                                                        "border_radius_mobile": 28,
                                                        "background": "color",
                                                        "background_color": "var(--color-background-tertiary)",
                                                        "custom_color": "#000000",
                                                        "background_gradient": "var(--gradient-primary)",
                                                        "custom_gradient": "linear-gradient(270deg, #8C8DC6 0%, #282460 100%)",
                                                        "enable_gap": true,
                                                        "gap": 32,
                                                        "gap_mobile": 24,
                                                        "enable_padding": true,
                                                        "padding_inline_differs": false,
                                                        "padding_inline": 24,
                                                        "padding_inline_mobile": 24,
                                                        "padding_left": 0,
                                                        "padding_left_mobile": 0,
                                                        "padding_right": 0,
                                                        "padding_right_mobile": 0,
                                                        "padding_block_differs": false,
                                                        "padding_block": 24,
                                                        "padding_block_mobile": 24,
                                                        "padding_top": 0,
                                                        "padding_top_mobile": 0,
                                                        "padding_bottom": 0,
                                                        "padding_bottom_mobile": 0,
                                                        "width": "100%",
                                                        "custom_width": 100,
                                                        "width_mobile": "100%",
                                                        "custom_width_mobile": 100
                                                    },
                                                    "blocks": [
                                                        {
                                                            "type": "text",
                                                            "name": "Text",
                                                            "settings": {
                                                                "text": "Experience targeted pain relief, improved mobility, and faster recovery with clinically-backed red light laser therapy.",
                                                                "text_alignment": "left",
                                                                "text_alignment_mobile": "left",
                                                                "font_family": "var(--font-product-sans)",
                                                                "tag": "p",
                                                                "text_size": "var(--font-size-body)",
                                                                "font_size_mobile": 16,
                                                                "font_size_desktop": 16,
                                                                "force_font_weight": false,
                                                                "font_weight": 400,
                                                                "text_style": "normal",
                                                                "text_decoration": "none",
                                                                "text_transform": "none",
                                                                "line_height": 150,
                                                                "letter_spacing": 0,
                                                                "inherit_text_color": true,
                                                                "text_color": "",
                                                                "apply_gradient_to_bold_text": false,
                                                                "gradient_color": "var(--gradient-primary)"
                                                            }
                                                        },
                                                        {
                                                            "type": "group",
                                                            "name": "Group",
                                                            "settings": {
                                                                "color_scheme": "",
                                                                "direction": "row",
                                                                "direction_mobile": "column",
                                                                "alignment": "start",
                                                                "alignment_mobile": "start",
                                                                "justify": "start",
                                                                "justify_mobile": "start",
                                                                "border": "none",
                                                                "border_color": "#000000",
                                                                "border_gradient": "var(--gradient-primary)",
                                                                "border_width": 1,
                                                                "border_radius": 0,
                                                                "border_radius_mobile": 0,
                                                                "background": "none",
                                                                "background_color": "var(--color-background-primary)",
                                                                "custom_color": "#000000",
                                                                "background_gradient": "var(--gradient-primary)",
                                                                "custom_gradient": "linear-gradient(270deg, #8C8DC6 0%, #282460 100%)",
                                                                "enable_gap": true,
                                                                "gap": 16,
                                                                "gap_mobile": 8,
                                                                "enable_padding": false,
                                                                "padding_inline_differs": false,
                                                                "padding_inline": 0,
                                                                "padding_inline_mobile": 0,
                                                                "padding_left": 0,
                                                                "padding_left_mobile": 0,
                                                                "padding_right": 0,
                                                                "padding_right_mobile": 0,
                                                                "padding_block_differs": false,
                                                                "padding_block": 0,
                                                                "padding_block_mobile": 0,
                                                                "padding_top": 0,
                                                                "padding_top_mobile": 0,
                                                                "padding_bottom": 0,
                                                                "padding_bottom_mobile": 0,
                                                                "width": "100%",
                                                                "custom_width": 100,
                                                                "width_mobile": "100%",
                                                                "custom_width_mobile": 100
                                                            },
                                                            "blocks": [
                                                                {
                                                                    "type": "button",
                                                                    "name": "t:blocks.button.name",
                                                                    "settings": {
                                                                        "button_type": "secondary",
                                                                        "text": "LEARN MORE",
                                                                        "link": "",
                                                                        "text_size": "var(--font-size-body)",
                                                                        "text_size_mobile": 12,
                                                                        "text_size_desktop": 16,
                                                                        "font_family": "var(--font-helvetica-neue)",
                                                                        "width": "100%",
                                                                        "target": false
                                                                    }
                                                                },
                                                                {
                                                                    "type": "button",
                                                                    "name": "t:blocks.button.name",
                                                                    "settings": {
                                                                        "button_type": "primary",
                                                                        "text": "BUY NOW",
                                                                        "link": "",
                                                                        "text_size": "var(--font-size-body)",
                                                                        "text_size_mobile": 12,
                                                                        "text_size_desktop": 16,
                                                                        "font_family": "var(--font-helvetica-neue)",
                                                                        "width": "100%",
                                                                        "target": false
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "group",
                                    "name": "Group",
                                    "settings": {
                                        "color_scheme": "",
                                        "direction": "row",
                                        "direction_mobile": "row",
                                        "alignment": "stretch",
                                        "alignment_mobile": "start",
                                        "justify": "start",
                                        "justify_mobile": "start",
                                        "border": "none",
                                        "border_color": "#000000",
                                        "border_gradient": "var(--gradient-primary)",
                                        "border_width": 1,
                                        "border_radius": 0,
                                        "border_radius_mobile": 0,
                                        "background": "none",
                                        "background_color": "var(--color-background-primary)",
                                        "custom_color": "#000000",
                                        "background_gradient": "var(--gradient-primary)",
                                        "custom_gradient": "linear-gradient(270deg, #8C8DC6 0%, #282460 100%)",
                                        "enable_gap": false,
                                        "gap": 0,
                                        "gap_mobile": 0,
                                        "enable_padding": false,
                                        "padding_inline_differs": false,
                                        "padding_inline": 0,
                                        "padding_inline_mobile": 0,
                                        "padding_left": 0,
                                        "padding_left_mobile": 0,
                                        "padding_right": 0,
                                        "padding_right_mobile": 0,
                                        "padding_block_differs": false,
                                        "padding_block": 0,
                                        "padding_block_mobile": 0,
                                        "padding_top": 0,
                                        "padding_top_mobile": 0,
                                        "padding_bottom": 0,
                                        "padding_bottom_mobile": 0,
                                        "width": "custom",
                                        "custom_width": 62,
                                        "width_mobile": "100%",
                                        "custom_width_mobile": 100
                                    },
                                    "blocks": [
                                        {
                                            "type": "image",
                                            "name": "t:blocks.image.name",
                                            "settings": {
                                                "image": "shopify://shop_images/Frame_1321315228.png",
                                                "image_mobile": "shopify://shop_images/Frame_1321315227.png",
                                                "image_object_fit": "leak",
                                                "place_behind_content_desktop": true,
                                                "place_behind_content_mobile": true,
                                                "width": "100%",
                                                "width_custom": 100,
                                                "width_custom_mobile": 100,
                                                "image_leak_top_mobile": 0,
                                                "image_leak_bottom_mobile": 76,
                                                "image_leak_top_desktop": 0,
                                                "image_leak_bottom_desktop": 0,
                                                "image_leak_left_mobile": 0,
                                                "image_leak_right_mobile": 0,
                                                "image_leak_left_desktop": 41,
                                                "image_leak_right_desktop": 0
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ],
            "settings": {
                "color_scheme": "scheme-1"
            }
        }
    ]
}
{% endschema %}