* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

b, strong {
	font-weight: bolder;
}
em {
	font-style: italic;
}
u, a {
	text-decoration: underline;
}
s {
	text-decoration: line-through;
}
a {
	color: inherit;
}